<div class="footer">
    <a class="contact" href="https://justasking.io">
      <div class="logo">  
        <img src="../assets/logos/logo-white.png" alt="justasking.io">
        <h3 class="justasking">justasking.io</h3>
      </div>
    </a>
    <div class="social">
      <a href="https://www.facebook.com/justasking.io" target="noopener">
        <img src="../assets/logos/facebook-white.png" alt="share with us on facebook">
      </a>
      <a href="https://twitter.com/justaskingio" target="noopener">
        <img src="../assets/logos/twitter-white.png" alt="share with us on twitter">
      </a>
      <a href="https://www.instagram.com/justasking.io" target="noopener">
        <img src="../assets/logos/instagram-white.png" alt="share with us on instagram">
      </a>
    </div>
  </div>