/api/.vscode
/api/debug
launch.json
/api/test/debug.test
/database/dbo_SqlScripts.sql
/SQL
realtimehub/debug
database/scripts_dev.sql
database/scripts_prod.sql 
code_dev_windows.sh
/services/SyncService/debug
/GO/api/debug
/GO/realtimehub/realtimehub.exe
/GO/realtimehub/debug
/GO/syncservice/debug
/GO/.vscode/settings.json
debug
output_*
