<div class="filters">
  <div class="filter" *ngFor="let filter of filters">{{filter}}</div>
</div>
<div class="articles" *ngIf="articles && articles.length >0; else emptyState">
  <a class="article" *ngFor="let article of articles" [routerLink]="article.Id">
    <div class="article-img">
      <img [src]="article.ImageUrl" alt="Cover">
    </div>
    <div class="details">
      <div class="author-date">
        <span class="author">by {{article.Author}}</span>
        <span class="date">{{article.Date}}</span>
      </div>
      <div class="title">
        <h1>
          {{article.Title}}
        </h1>
      </div>
      <div class="text-preview">
        {{article.SubTitle}}
      </div>
    </div> 
  </a>
</div>

<ng-template #emptyState class="empty-state">
  <div class="coming-soon-container">
    <div class="coming-soon">
        <div class="coming-soon-header"> 
          <h1>Coming Soon</h1>
        </div>
        <br/>
        <div class="coming-soon-details">
          <h3>It seems that we don't have any posts yet!</h3> 
          <h3>Please hang tight in the meantime.</h3> 
        </div>
      </div>
  </div>
</ng-template>