@import '../../theme.sass';

.filters{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 0px 20px 0px;
    .filter{
        margin: 5px;
        padding: 5px 15px;
        border-radius: 50px;
        border: 1px solid #eaeaea;
        font-family: 'Quicksand', sans-serif;
        color: rgb(146, 146, 146);
        cursor: pointer;
        &:hover{
            background: #444e7e;
            color: white;
        }
    }
    .filter + .active{
        background: #444e7e;
        color: white;
    }
}

.articles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.article{
    margin: 20px;
    max-width: 450px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    outline: none;
    text-decoration: none;
    &:hover{
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        .details{
            .title{
                h1{
                    color: #444e7e; 
                }
            }
        }
    }
    .article-img{ 
        img{
            width: 100%;
        }
    }
    .details{
        padding: 30px 40px 40px 40px;
        .author-date{
            color: #969696;
            font-size: 11pt;
            font-family: 'Quicksand', sans-serif;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .title{
            h1{
                font-size: 15pt;
                margin: 15px 0;
                color: #3d3d3d;
                font-family: 'Quicksand', sans-serif;
            }
        }
        .text-preview{
            color: #969696;
            font-size: 11pt;
            font-family: 'Quicksand', sans-serif;
        }
    }
}

.coming-soon-container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media #{$screen-size-xs}{
        height: 60vh;
    }
    hr{
        border-top: 1px solid #eaeaea;
    }
}
.coming-soon{
    min-height: 40vh;
    text-align: left;
    color: #9E9E9E;
    text-align: center;
    padding: 0px 20px;
    .coming-soon-header{
        h2{
            font-family: 'Quicksand', sans-serif;
            font-size: 30pt;
            font-weight: 100;
        }
        h1{
            font-family: 'Quicksand', sans-serif;
            font-size: 80pt;
            font-weight: 100;
            margin-bottom: 20px;
            @media #{$screen-size-xs}{
                font-size: 34pt;
            }
            @media #{$screen-size-sm}{
                font-size: 34pt;
            }
        }
    }
    .coming-soon-details{
        h3{
            font-family: 'Roboto', sans-serif;
            font-size: 12pt;
            font-weight: 400;
            margin-bottom: 10px;
        }
    }
}
