@import url('https://fonts.googleapis.com/css?family=Lora|Quicksand');
@import 'theme.sass';

/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
}
a{
    text-decoration: none;
    font-weight: 700;
}
h1{
    margin: 15px 0;
    color: #3d3d3d;
    font-family: 'Quicksand', sans-serif;
}
h2{
    margin: 15px 0;
    color: #3d3d3d;
    font-family: 'Quicksand', sans-serif;
}
h3{
    margin: 15px 0;
    color: #3d3d3d;
    font-family: 'Quicksand', sans-serif;
}
p{
    color: #969696;
    font-size: 14pt;
    font-family: 'Quicksand', sans-serif;
    line-height: 30px;
}

.breadcrumbs{
    padding: 20px 75px 30px 75px;
    font-size: 12pt;
    color: #b7b7b7;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    @media #{$screen-size-xs}{
        display: none;
    }
    span{
        outline: none;    
    }
    .breadcrumb{
        cursor: pointer;
        &:hover{
            color: #d6d6d6;
        }
    }
    .separator{
        font-size: 14pt;
        padding: 0px 10px;
        color: #d6d6d6;
    }
    .current{
        color: #d6d6d6;
    }
}

.hamburger-menu{
    cursor: pointer;
    @media #{$screen-size-lg}{
        display: none;
    }
    @media #{$screen-size-md}{
        display: none;
    } 
    .container{
        padding: 20px;
        &:hover{
            div{
                background-color: rgb(78, 78, 78);
            }
        }
        div{
            width: 35px;
            height: 5px;
            margin: 6px 0;
            background-color: rgb(104, 104, 104);
            border-radius: 5px;
        }
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

/*BUTTONS*/
.btn{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin: 0px 5px;
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.btn.btn-primary{
    color: white;
    background: $theme-primary;
    &:hover{
        background: lighten($theme-primary, 5%);
    }
    &:active{
        background: darken($theme-primary, 5%);
    }
}
.btn.btn-accent{
    color: white;
    background: $theme-accent;
    &:hover{
        background: lighten($theme-accent, 5%);
    }
    &:active{
        background: darken($theme-accent, 5%);
    }
}
.btn.btn-default{
    background: inherit;
    &:hover{
        background: #eaeaea;
    }
    &:active{
        background: #d3d3d3;
    }
}
/*BUTTONS*/
.content-images-container{ 
    img{ 
        width: 100%;
    }
}