@import '../../theme.sass';

.topnav{
    height: 100px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center; 
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.07);
    @media #{$screen-size-xs}{
        height: 80px;
    }
    .brand{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #3d3d3d;
        cursor: pointer;
        outline: none;
        &:hover{
            color: #5c5c5c;
        }
        h1{
            margin: 0px;
            font-family: 'Lora', serif;
            @media #{$screen-size-xs}{
                font-size: 15pt;
            }
        }
    }
    .navigation{
        margin: 40px 20px 20px 20px;
        // position: absolute;
        // right: 10px;
        // top: 0px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        @media #{$screen-size-sm}{
            display: none;
        }
        @media #{$screen-size-xs}{
            display: none;
        }
        .nav-item{
            a{
                font-family: 'Quicksand', serif;
                color: #3d3d3d;
                padding: 15px  20px;
                border-radius: 50px;
                text-decoration: none;
                font-weight: 700;
                width: 100%;
                &:hover{
                    font-weight: 100;
                }
            }
        }
    }
}