<div class="topnav">
  <div class="hamburger-menu" (click)="openSidenav()">
    <div class="container">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="brand" routerLink="/">
    <h1>justasking.io | blog</h1>
  </div>
  <div class="navigation">
    <div class="nav-item">
      <a target="_blank" href="http://justasking.io">GET STARTED</a>
    </div>
    <div class="nav-item">
      <a target="_blank" href="http://justasking.io/getstarted/pricing">PRICING</a>
    </div>
    <div class="nav-item">
      <a target="_blank" href="http://justasking.io/login">LOGIN</a>
    </div>
  </div>
</div>
