<div class="brand-info">
  <p>
    <b>justasking.io</b> is a real time polling solution for the every day presenter.
  </p>
  <div class="features">
    <ul>
      <li>
        <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-check-icon.png" alt="">
        Unlimited polls</li>
      <li>
        <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-check-icon.png" alt="">
        Unlimited responses per poll</li>
      <li>
        <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-check-icon.png" alt="">
        Instant live feedback</li>
      <li>
        <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-check-icon.png" alt="">
        Real time poll preview</li>
      <li>
        <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-check-icon.png" alt="">
        Multiple poll types</li>
      <li>
        <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-check-icon.png" alt="">
        Dedicated SMS# for your polls</li>
    </ul>
  </div>
  <div class="get-started">
    <a href="https://justasking.io">
        START POLLING NOW!
    </a>
  </div>
</div>
<div class="social">
    <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_linkedin"></a>
    <a class="a2a_button_reddit"></a>
    <a class="a2a_button_pinterest"></a>
    </div>
    <!-- AddToAny END -->
</div>